<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="MyLayout" value="${longdate} ${uppercase:${level}} ${message} ${all-event-properties}" />

  <targets>
    <target name="logfile" xsi:type="File" fileName="C:/Logs/TelegramBot/${date:format=dd.MM.yyy}.log" layout="${MyLayout}"/>
    <target name="logconsole" xsi:type="ColoredConsole" layout="${MyLayout}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>